:root {
    --blue-dark: #0000FF;
    --brown-dark: #66320A;
    --brown-medium: #B87A00;
    --brown-light: #FFDF9E;
    --brown-lighter: #FFE6B5;
    --brown-lightest: #FFEECC;
    --gray-dark: #666666;
    --gray-medium: #BBBBBB;
    --gray-light: #DDDDDD;
    --gray-lighter: #F3F3F3;
    --green-dark: #007700;
    --green-medium: #669966;
    --green-light: #F4FFF4;
    --red: #FF0000;
    --white: #FFFFFF;
}
