@import "colors.css";

@font-face {
  font-family: "Nixie-One";
  src: url("font_nixie_one_regular.ttf");
}

.puzzlemat {
    background-color: var(--white);
    border-radius: 2vw;
    font-family: "Nixie-One", sans-serif;
    touch-action: manipulation;

    &.puzzlemat-square {
        font-size: 14px;
    }

    &.puzzlemat-hexagon {
        font-size: 48px;
    }

    &.puzzlemat-rhombus:lang(en) {
        font-size: 20px;
    }

    &.puzzlemat-rhombus:lang(nl) {
        font-size: 22px;
    }

    &.puzzlemat-rotterdam {
        font-size: 14px;
    }
}

.puzzleboard {
    stroke: var(--brown-dark);
    stroke-width: 0.1%;
    text-anchor: middle;
    user-select: none;
    -webkit-user-select: none;
}

.puzzlefloor {
    fill: var(--brown-lightest);
}

.puzzleframe {
    fill: var(--brown-lighter);
}

.engraving {
    fill: var(--brown-dark);
    stroke-width: 0;
    text-anchor: middle;
}

.weekdays, .months {
    font-size: 3%;
}

.days {
    font-size: 3.5%;
}

.pieces {
    fill: var(--brown-lightest);
    stroke: var(--brown-dark);
    stroke-width: 0.1%;
}

.piece {
    cursor: move;
}

.selected {
    stroke: var(--blue-dark);
    stroke-width: 0.2%;
}

.engraved {
    stroke: var(--brown-dark) !important;
    stroke-width: 0.1% !important;
}

.url {
    fill: var(--brown-dark);
    font-size: 2%;
    stroke-width: 0;
    text-anchor: middle;
}

.puzzlehole-1 {
    fill: var(--brown-lighter);
}

.puzzlehole-2 {
    fill: var(--brown-light);
}

.segment {
    fill: var(--brown-medium);
    stroke: var(--brown-dark) !important;
    stroke-width: 0.1% !important;
}

.invisible {
    stroke-width: 0;
    stroke: transparant;
}