@import "colors.css";

@font-face {
  font-family: "Nixie-One";
  src: url("font_nixie_one_regular.ttf");
}

g {
    background-color: transparent;
    fill: var(--brown-light);
    stroke: var(--brown-dark);
    stroke-width: 1%;

    & text {
        fill: var(--brown-dark);
        font-family: "Nixie-One", sans-serif;
        font-size: 2.5%;

        &.number {
            font-size: 3.5%;
        }
    }
}

